body {
    background-color:#EEDFDE;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: brown;
}

strong {
    color: royalblue;
    font-weight: bold;
}



h2 {
    color: teal;
        display: block;
        font-size: 1.5em;
        font-weight: bold;
}

a{
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}
p::first-letter {
    font-size: 1.5em;
}


ul {
    display: block;
    list-style-type: disc;
  
   
}
dt{
    text-decoration: underline;
    color: chocolate;
}

